[submodule "fw-registry"]
	path = fw-registry
	url = git@github.com:TAMULib/fw-registry.git
[submodule "mod-workflow"]
	path = mod-workflow
	url = git@github.com:TAMULib/mod-workflow.git
[submodule "mod-camunda"]
	path = mod-camunda
	url = git@github.com:TAMULib/mod-camunda.git
[submodule "spring-module-core"]
	path = spring-module-core
	url = git@github.com:folio-org/spring-module-core.git
