[submodule "mod-workflow"]
	path = mod-workflow
	url = https://github.com/TAMULib/mod-workflow.git
[submodule "mod-camunda"]
	path = mod-camunda
	url = https://github.com/TAMULib/mod-camunda.git
[submodule "mod-data-extractor"]
	path = mod-data-extractor
	url = https://github.com/TAMULib/mod-data-extractor.git
[submodule "mod-external-reference-resolver"]
	path = mod-external-reference-resolver
	url = https://github.com/TAMULib/mod-external-reference-resolver.git
[submodule "spring-module-core"]
	path = spring-module-core
	url = https://github.com/folio-org/spring-module-core.git
